body{
    font-family: arial;
    background: url("bg.png");
}
#firstslide{
    text-align: center;
}
div h2{
    text-decoration: underline;
}
.dontshow{
    text-align: center;
}
#leftbans, #rightbans{
    border: 1px solid black;
    width: 10%;
    display: inline-block;
    height: 80%;
    overflow: hidden;
}
#leftbans{
    margin-left: auto;
    margin-right: 5px;
}
#rightbans{
    margin-left: 5px;
    margin-right: auto;
}
.pickandban{
    border: 1px solid black;
    height: 17.2%;
    display: block;
    margin: 5px;
    transition: 0.25s all;
}
.bans{
    border: 1px solid black;
    height: 9%;
    display: block;
    margin: 5px;
}
.picking{
    border: 1px dotted black;
    box-shadow: 0px 0px 5px black;
}
.banbox{
    height: 33.6%;
    width: 100%;
    display: block;
    border-bottom: 1px solid black;
    overflow: auto;
    text-decoration: line-through;
}
#text2{
    opacity: 0.9;
}
#text3{
    opacity: 0.8;
}
#text4{
    opacity: 0.7;
}
#text5{
    opacity: 0.6;
}
#text6{
    opacity: 0.5;
}
#text7{
    opacity: 0.4;
}
#text8{
    opacity: 0.3;
}
#text9{
    opacity: 0.2;
}
#text10{
    opacity: 0.1;
}
span{
    margin: 5px;
}
.choosenames{
    display: inline-block;
    width: 10%;
    overflow: auto;
}
#choosenamesleft{
    margin-left: auto;
    margin-right: 5px;
}
#choosenamesright{
    margin-right: auto;
    margin-left: 5px;
}
.choosenamebox{
    margin: 5px;
}
c{
    position: relative;
    display: block;
    bottom: -25%;
}
.pickandban p{
    text-decoration: underline;
}